@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b9dcd7;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}

h1 {
    text-align: center;
    color: #007e6c;
    margin: .5em 0;
}

h2 {
    text-align: center;
    color: #036d5d;
    margin: .5em 0;
}

hr {
    width: 50em;
    border: 1px solid #007e6c;
    margin: .9em 0;
}

#input {
    width: 38em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: transparent;
    height: 10em;
    border-radius: 5px;
    border: 2px solid #333;
    padding: 10px;
    font-size: 20px;
    resize: none;
    margin: 1em 0;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    background-color: #034c41;
    padding: 10px;
    border-radius: 5px;
    width: 50em;
}

.tecla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #036d5d;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    padding: 5px;
}

#text {
    width: 30em;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    overflow: auto;
}

.active {
    background-color: #03483e;
}

[data-key=Space] {
    grid-column: span 6;
}

[data-key=ControlLeft],
[data-key=ControlRight],
[data-key=CapsLock],
[data-key=Backspace] {
    grid-column: span 2;
}

#contador {
    font-size: 2em;
    color: #036d5d;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.correcto {
    color: green;
}

.incorrecto {
    color: red;
}

.botones-tiempo {
    display: flex;
}

button {
    margin: 10px 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 500;
    background-color: #036d5d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.mymodal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    width: 40%;
    height: 35%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    border-radius: 3em;
}

.modal h2 {
    font-size: 2em;
}

.modal-text {
    font-weight: 600;
    font-size: 1.5em;
}

#modal-btn {
    background-color: #036d5d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
}

#modal-btn:hover {
    background-color: #034c41;
}

.min {
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: start;
    align-items: start;
    font-weight: 300;
    font-size: .8em;
}

.principal {
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }

    #input {
        width: 80%;
        font-size: 1.5em;
    }

    .teclado,
    #text,
    .modal,
    hr {
        width: 80%;
    }

    button {
        margin: 10px 20px;
    }
}

@media screen and (max-width: 500px) {
    .teclado {
        display: none;
    }
}